form {
	position: absolute;
	background: rgb 0.0.0.0,4;
	height: 120;
	width: 100;
	color: white;
	left: 80px;

}

body {
	margin:20px auto;
	width:800px;
	height:600px;
	background:black;
	}

img {
	position: absolute;
	width: 1200px;
	height: 600px;
	left: 80px;
}

h1 {
	color: darkgoldenrod ;
	font-family: 'Ephesis', cursive;
	font-size: 50px;
}
table{
	position: absolute;
	top: 200px;
	margin-right: 50px;
	background: rgb 0.0.0.0,4;
	height: 200px;
	width: 250px;
	color: white;
	right: 65px;
	border-color: darkgoldenrod;
	border-radius: 8%;

}


h2 {
	position: absolute;
	right: 80px;
	color: darkgoldenrod ;
	font-family: 'Ephesis', cursive;
	font-size: 50px;
}

input {
	background: rgba(200, 200, 200 , 4) ;
}

}

footer{
	position:absolute;
    bottom: -60px;
    left: 80px;
	width:1200px;
	height:35px;
	background:#333;
	text-align:0 center;
	line-height: 30px;
	color: white;
}

#chat{
	position:fixed;
	width:200px;
	height:40px;
	bottom:0;
	right:20px;
	background:darkgoldenrod;
	z-index:1;
	color:white;
	text-align:center;
	line-height:40px;
	font-family: 'Kaushan Script', cursive;
	font-size:20px;
	border-radius:20px 20px 0 0;
	cursor:pointer;
	}


